.wall{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*overflow: hidden;*/
    padding:8px;
}

.row{
    display: flex;
    gap: 10px;
    width: 100%;
}

.item{
    display: flex;
    background:var(--surface);
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: clip;
    flex:1;
    justify-content: center;
    align-items: center;
    /*border:1px solid var(--brick-item-color);*/
    box-shadow: 0 0 2px  var(--brick-item-color), inset 0 0 30px -25px var(--brick-item-color);
    transition: all 1s ease-out, border .5s ease-in-out;
    box-sizing: content-box;
}

.item:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    z-index: 99;
}
.active:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--brick-item-color), inset 0 0 30px 0px var(--brick-item-color),inset 0 0 0px 3px var(--brick-item-color);
}

.item img{
    width: 80%;
    height: 80%;
    border-radius: 15px;
    overflow: clip;
}

.offset{
    transform: translateX(-50px);
    width:calc(100% + 100px);
}