.wall{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*overflow: hidden;*/
    padding:8px;
}

.row{
    display: flex;
    gap: 10px;
    width: 100%;
}

.item{
    display: flex;
    background:var(--surface);
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: clip;
    flex:1;
    justify-content: center;
    align-items: center;
}

.item img{
    width: 80%;
    height: 80%;
}

.offset{
    transform: translateX(-50px);
    width:calc(100% + 100px);
}